@media (max-width: 768px) {
  .margin-top-404 {
    margin-top: 1.5em !important;
  }
  ._margin {
    padding-top: 25em;
    padding-right: auto;
  }
  .bg-404 {
    top: 15.625em;
    height: 28.125em;
    left: 1.5em;
  }
}

@media (max-width: 411px) {
  ._margin {
    padding-top: 18.75em;
  }
  .bg-404 {
    top: 9.375em;
    width: 23em;
  }

  .p-404 {
    font: normal normal 600 36px/42px Open Sans;
    margin-bottom: 0.2em !important;
  }

  .p2-404 {
    font: normal normal 600 16px/45px Open Sans;
  }
}

@media (max-width: 375px) {
  .bg-404 {
    width: 20.6em;
  }
}

@media (max-width: 360px) {
  .p-404 {
    margin-top: 0.3em !important;
  }
  ._margin {
    padding-top: 15.625em;
  }
  .bg-404 {
    top: 6.875em;
    width: 19.7em;
  }
}
