.logo {
  margin-right: 0.5rem;
}
.theme--light.v-toolbar.v-sheet {
  background-color: transparent !important;
  border-color: transparent;
}
.v-tabs {
  width: 0;
}
.v-sheet.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: none;
}
.v-btn--icon {
  display: none;
}
.v-slide-group__content {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .v-btn--icon {
    display: inline-block;
  }
  .v-tabs {
    display: none;
  }
}
