.v-application a {
  color: #3c3c3c !important;
}
.home-img {
  height: 550px;
  width: 100%;
}

.about-img {
  height: 150px;
  width: 100%;
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .about-img {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .title-content {
    text-align: center;
  }
  #content .v-image {
    max-height: 400px;
  }
}
@media (max-width: 411px) {
  #content .v-image {
    max-height: 200px;
  }
  #content .v-responsive__sizer {
    padding-bottom: 0 !important;
  }
}
